<h2 style="margin: 1em;">{{titulo}}</h2>
<hr />
<div ng-show="autenticado" style="width: 100vw;">
	<div class="row"> 
			<iframe class="col-xs-12"
				src="https://soa-practica-pp.mooo.com:3000/public/dashboard/90e35181-ae46-49ce-9e0b-68011d954763"
				frameborder="0"
				height="600"
				allowtransparency
			></iframe>
	</div>
</div>
<div ng-show="!autenticado">Debe autenticarse!</div>