<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-body">

			<div class="form-group">
				<label class="col-md-4 control-label">Usuario</label>
				<div class="col-md-8">
					<input type="text" class="form-control" placeholder="User Name" ng-model="user.username"
						required autofocus>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label">Clave</label>
				<div class="col-md-8">
					<input type="password" class="form-control" placeholder="Password"
						ng-model="user.password" required>
				</div>
				
			</div>
		</div>
		
	</fieldset>
</form>
<div class="modal-footer">
			<button class="btn btn-primary" type="submit" ng-click="login()">Ingresar</button>
		</div>
