<h2 style="margin: 1em;">{{titulo}}</h2>
<hr />
<div ng-show="autenticado" style="width: 100vw;">
	<div class="row">
			<iframe class="col-xs-12"
				src="https://soa-practica-pp.mooo.com:3000/public/dashboard/4ad28705-ad86-48a3-8d1a-69e199a179d9"
				frameborder="0"
				height="600"
				allowtransparency
			></iframe>
	</div>
</div>
<div ng-show="!autenticado">Debe autenticarse!</div>